/* Colour codes: Primary(Gray) - #333, Secondary(Red) - #d74545 */

body {
    font-family: "Segoe UI", "Helvetica Neue";
    background-color: #333;
    color: white;
    margin: 0%;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #222222 0%, #333333 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* GLOBAL PRESETS GLOBAL PRESETS GLOBAL PRESETS GLOBAL PRESETS GLOBAL PRESETS GLOBAL PRESETS */
.active {
    color: #d74545 !important;
}

.btn-danger {
    background-color: #d74545;
}

a {
    color: skyblue;
}

.modal-content {
    background-color: #333;
}

.bi {
    display: flex;
    align-items: center;
}

.dropdown-item {
    --bs-dropdown-link-active-bg: #d74545;
}

.table {
    --bs-table-hover-color: lightgray;
    table-layout: fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
.navbar {
    margin: 35px 10%;
    padding: 0;
}
#navLogo {
    padding: 0 1rem 0 0;
    margin: 0;
}
.nav-item {
    margin: 0 10px;
    color: white;
}


/* LOGINREGISTER LOGINREGISTER LOGINREGISTER LOGINREGISTER LOGINREGISTER LOGINREGISTER  */
.loginRegister {
    background: rgba(0, 0, 0, .8) url("../img/loginRegisterBg.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    box-shadow: -10px 0px 100px #000 inset;
}

.loginRegisterContainer {
    width: 80vw;
    height: 85vh;
    background-color: #333;
}

.rightBanner {
    background-color: #1a1a1a;
    border-left: 3px solid #d74545;
}



/* SEATS DISPLAY SEATS DISPLAY SEATS DISPLAY SEATS DISPLAY SEATS DISPLAY SEATS DISPLAY SEATS DISPLAY */
.screen {
    margin-left: 18px;
    background-color: #474747;
    width: -webkit-fill-available !important;
}

.row.screen {
    margin-bottom: 30px;
}

.seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid #aaa;
    font-size: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.seat.available{
    background-color: #d66666;
    border-color: #d66666;
}

.seat.occupied {
    background-color: #444;
    border-color: #444;
}

.seat.suspended {
    background-color: transparent;
    border-color: gray;
}

.seat.selected {
    background-color: #ff4444;
    border-color: #ff4444;
    box-shadow: 0px 0px 10px #ff4444;
}

.row {
    margin-bottom: 10px;
}

.col-label {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.legend.label {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding-right: 0;
}



/* CREATE MOVIE BOOKING CREATE MOVIE BOOKING CREATE MOVIE BOOKING CREATE MOVIE BOOKING CREATE MOVIE BOOKING  */
.background-image {
    position: absolute;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    background-size: cover;
    z-index: -1;
    opacity: 0.15;
}





/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
    background-color: #292929;
}

.footerContainer {
    padding: 50px 0 100px 0;
    margin: 0 10%;
    display: flex;
    align-items: center;
}

/* flicket Logo */
.footerLeft {
    width: 33%;
}

/* Social media */
.footerMiddle {
    width: 33%;
    text-align: center;
}

.footerIcons {
    margin: 0 10px;
    width: 35px;
}

/* Contact details */
.footerRight {
    width: 34%;
    text-align: right;
}