{% extends "base.html" %}

{% block title %}Manage Profiles{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Profiles</h1>

        <div class="d-flex">
            <form method="POST" action="/searchProfile" class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" id="profileSearch" name="profileSearch" placeholder="Search...">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter by</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="submit" name="filter" value="userType">User Type</button></li>
                        <li><button class="dropdown-item" type="submit" name="filter" value="id">Account ID</button></li>
                        <li><button class="dropdown-item" type="submit" name="filter" value="fullName">Full Name</button></li>
                        <li><button class="dropdown-item" type="submit" name="filter" value="profileName">Profile Name</button></li>
                    </ul>
                </div>
            </form>
            <a href="/createProfile" type="submit" class="btn btn-success bi bi-person-plus fs-3 ms-4" title="Create Account"></a>
        </div>
    </div>
    <table class="table table-hover text-white mt-4">
        <thead>
            <tr>
                <th>User Type</th>
                <th>Account ID</th>
                <th>Full Name</th>
                <th>Profile Name</th>
                <th>Bio</th>
                <th></th>
            <tr>
        </thead>
        <tbody class="align-middle">
            {% for profile in profiles %}
            <tr>
                <td>{{ profile.account.userType }}</td>
                <td>{{ profile.account_id }}</td>
                <td>{{ profile.account.fullName }}</td>
                <td>{{ profile.profileName }}</td>
                <td title="{{profile.bio}}">{{ profile.bio }}</td>
                <td class="d-flex justify-content-evenly">
                    <a href="/editProfile/{{ profile.id }}" type="submit" class="btn btn-outline-info bi bi-pencil fs-5" title="Edit Account"></a>
                    <button type="button" href="#" class="btn btn-danger bi bi-person-slash fs-5" title="Delete Account" data-bs-toggle="modal" data-bs-target="#delete{{ profile.id }}"></button>
                </td>
            </tr>
            
            <div class="modal fade" id="delete{{ profile.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Delete Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Permanently delete the following profile?
                        <br/><br/>
                        <span>Account ID </span>: {{ profile.account_id }}<br/>
                        <span>Full Name </span> &nbsp;: {{ profile.account.fullName }}<br/>
                        <span>Profile Name </span> &nbsp;: {{ profile.profileName }}<br/>
                    </div>
                    <div class="modal-footer">
                        <a href="/deleteProfile/{{ profile.account_id }}" type="button" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">No</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}