{% extends "loginRegister/baseLoginRegister.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="POST">
        <div class="d-flex flex-column align-items-center" style="width: 380px">
            <img src="../static/img/flicket.png" width="230">
            <h3 class="text-center mt-5"><b>Welcome Back!</b></h3>
            <p style="font-size: 14px; color:lightgray">Login to continue</p>

            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            {% for category, message in messages %} {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show my-0 w-100" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}
            
            <div class="input-group mt-4">
                <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                </span>
                <input type="email" class="form-control" id="loginEmail" name="loginEmail" placeholder="Email" required>
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text">
                    <i class="bi bi-lock"></i>
                </span>
                <input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="Password" required>
            </div>
            <a href="/" class="w-100 mt-1" style="font-size: 13px; text-align: right;"><b>Forgot password?</b></a>
            <button type="submit" class="btn btn-danger w-100 my-4">Login</button>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <p style="font-size: 13px">Don't have an account? <b><a href="/register">Register</a></b></p>
        </div>
    </form>
{% endblock %}