{% extends "loginRegister/baseLoginRegister.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <form method="POST">
        <div class="d-flex flex-column align-items-center" style="width: 380px">
            <img src="../static/img/flicket.png" width="230">
            <h3 class="text-center mt-5">Let's Get Started!</h3>
            <p style="font-size: 14px; color:lightgray">Create an account and enjoy various benefits</p>

            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            {% for category, message in messages %} {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show my-0 w-100" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

            <div class="input-group mt-4">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required>
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                </span>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text">
                    <i class="bi bi-phone"></i>
                </span>
                <input type="tel" class="form-control" id="phoneNo" name="phoneNo" placeholder="Phone" pattern="(6|8|9)\d{7}" required>
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text">
                    <i class="bi bi-lock"></i>
                </span>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
            </div>
            <div class="input-group mb-2 mt-3">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="btn btn-danger w-100 my-4">Register an account</button>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <p style="font-size: 13px">Already have an account? <b><a href="/login">Login</a></b></p>
        </div>
    </form>
{% endblock %}