{% extends "base.html" %}

{% block title %}Edit Account{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    {% for category, message in messages %} {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <h1>Account Details</h1>
    <form method="POST" class="w-50">
        <div class="input-group mt-4">
            <span class="input-group-text">
                <i class="bi bi-person-lines-fill"></i>
            </span>
            {% if accountDetails.userType == "customer" %} <!-- To ensure customers can't convert to administrative roles without having "@flicket.com"-->
                <input type="text" class="form-control" id="userType" name="userType" value="{{ accountDetails.userType }}" style="background-color: darkgray;" title="User type 'customer' cannot be changed" onclick="this.blur();" readonly>
            {% else %}
                <select class="form-select" id="userType" name="userType"  aria-label="Default select">
                    <option value="userAdmin" {% if accountDetails.userType == "userAdmin" %} selected {% endif %}>userAdmin</option>
                    <option value="cinemaManager" {% if accountDetails.userType == "cinemaManager" %} selected {% endif %}>cinemaManager</option>
                    <option value="cinemaOwner" {% if accountDetails.userType == "cinemaOwner" %} selected {% endif %}>cinemaOwner</option>
                </select>
            {% endif %}

        </div>
        <div class="input-group mt-3">
            <span class="input-group-text">
                <i class="bi bi-person"></i>
            </span>
            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" value="{{ accountDetails.fullName }}" required>
        </div>
        <div class="input-group mt-3">
            <span class="input-group-text">
                <i class="bi bi-envelope"></i>
            </span>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ accountDetails.email }}" required>
        </div>
        <div class="input-group mt-3">
            <span class="input-group-text">
                <i class="bi bi-phone"></i>
            </span>
            <input type="tel" class="form-control" id="phoneNo" name="phoneNo" placeholder="Phone" pattern="(6|8|9)\d{7}" value="{{ accountDetails.phoneNo }}" required>
        </div>
        <div class="input-group mt-3">
            <span class="input-group-text">
                <i class="bi bi-lock"></i>
            </span>
            <input type="password" class="form-control" id="nPassword1" name="nPassword1" placeholder="New Password (Leave blank if no changes)">
        </div>
        <div class="input-group mb-2 mt-3">
            <span class="input-group-text">
                <i class="bi bi-lock-fill"></i>
            </span>
            <input type="password" class="form-control" id="nPassword2" name="nPassword2" placeholder="Confirm New Password (Leave blank if no changes)">
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-danger my-4 me-3">Update account</button>
            <a href="/manageAccounts" class="btn btn-outline-info my-4">Cancel</a>
        </div>
    </form>
{% endblock %}