{% extends "base.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Accounts</h1>

        <div class="d-flex">
            <form method="POST" action="/searchAccount" class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" id="accountSearch" name="accountSearch" placeholder="Search...">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter by</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="submit" name="filter" value="id">Account ID</button></li>
                        <li><button class="dropdown-item" type="submit" name="filter" value="fullName">Full Name</button></li>
                        <li><button class="dropdown-item" type="submit" name="filter" value="email">Email</button></li>
                        <li><button class="dropdown-item" type="submit" name="filter" value="phoneNo">Phone Number</button></li>
                        <li><button class="dropdown-item" type="submit" name="filter" value="userType">User Type</button></li>
                    </ul>
                </div>
            </form>
            <a href="/createAccount" type="submit" class="btn btn-success bi bi-person-plus fs-3 ms-4" title="Create Account"></a>
        </div>
    </div>
    <table class="table table-hover text-white mt-4">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>User Type</th>
                <th></th>
            <tr>
        </thead>
        <tbody class="align-middle">
            {% for account in accounts %}
            <tr {% if not account.profile %}class="text-danger" title="WARNING: Account does not have a Profile"{% endif %}>
                <td>{{ account.id }}</td>
                <td>{{ account.fullName }}</td>
                <td>{{ account.email }}</td>
                <td>{{ account.phoneNo }}</td>
                <td>{{ account.userType }}</td>
                <td class="d-flex justify-content-evenly">
                    <a href="/editAccount/{{ account.id }}" type="submit" class="btn btn-outline-info bi bi-pencil fs-5" title="Edit Account"></a>
                    <button type="button" href="#" class="btn btn-danger bi bi-person-slash fs-5" title="Delete Account" data-bs-toggle="modal" data-bs-target="#delete{{ account.id }}"></button>
                </td>
            </tr>
            
            <div class="modal fade" id="delete{{ account.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Delete Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Permanently delete the following account?
                        <br/><br/>
                        <span>Account ID </span>: {{ account.id }}<br/>
                        <span>Full Name </span> &nbsp;: {{ account.fullName }}<br/>
                        <span>User Type </span> &nbsp;: {{ account.userType }}<br/>
                    </div>
                    <div class="modal-footer">
                        <a href="/deleteAccount/{{ account.id }}" type="button" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">No</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}