{% extends "base.html" %}

{% block title %}Create Movie{% endblock %}

{% block content %}

<h1>Create Movie</h1>
<form method="POST" class="w-50 needs-validation" novalidate>

    <div class="input-group mt-3">
        <label>Title:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>

    <div class="input-group mt-3 ">
        <label>Spoken Language:</label>
        <select class="form-control" id="spokenLanguage" name="spokenLanguage" required>
            {% for spokenLang in spokenLanguages %}
            <option>{{ spokenLang.langName }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mt-3">
        <label>Genre 1:</label>
        <select class="form-control" id="genre1" name="genre1" required>
            {% for genre in genres %}
            <option>{{ genre.genreName }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mt-3">
        <label>Genre 2:</label>
        <select class="form-control" id="genre2" name="genre2" required>
            {% for genre in genres %}
            <option>{{ genre.genreName }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mt-3">
        <label>Runtime Hour(s):</label>
        <input type="number" class="form-control" id="runtimeHour" name="runtimeHour" required>
        <label>Runtime Minutes(s):</label>
        <input type="number" class="form-control" id="runtimeMin" name="runtimeMin" required>
    </div>

    <div class="input-group mt-3">
        <label>Start Date:</label>
        <input id="startDate" name="startDate" class="form-control" type="date" required>
    </div>

    <div class="input-group mt-3">
        <label>End Date:</label>
        <input id="endDate" name="endDate" class="form-control" type="date" required>
    </div>

    <div class="input-group mt-3">
        <label>Sypnosis:</label>
        <input id="sypnosis" name="sypnosis" class="form-control" type="text" required>
    </div>

    <div class="input-group mt-3">
        <label>Trailer Link:</label>
        <input id="trailerLink" name="trailerLink" class="form-control" type="text" required>
    </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-danger my-4 me-3">Create Movie</button>
        <a href="/manageMovies" class="btn btn-outline-info my-4">Cancel</a>
    </div>
</form>
{% endblock %}