{% extends "base.html" %}

{% block title %}Manage Movies{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Movies</h1>

    <div class="d-flex">
        <form method="POST" action="/searchMovie" class="d-flex">
            <div class="input-group">
                <input type="text" class="form-control" id="movieSearch" name="movieSearch" placeholder="Search...">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Filter by</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="submit" name="filter" value="title">ID</button>
                    </li>
                    <li><button class="dropdown-item" type="submit" name="filter" value="title">Title</button>
                    </li>
                </ul>
            </div>
        </form>
        <a href="/createMovie" type="submit" class="btn btn-success bi bi-person-plus fs-3 ms-4"
            title="Create Movie"></a>
    </div>
</div>
<table class="table table-hover text-white mt-4">
    <thead>
        <tr>
            <th>Movie ID</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
        <tr>
    </thead>
    <tbody class="align-middle">
        {% for movie in movies %}
        <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.startDate }}</td>
            <td>{{ movie.endDate }}</td>
            <td class="d-flex justify-content-evenly">
                <a href="/viewMovie/{{ movie.id }}" type="submit" class="btn btn-outline-light fs-5"
                    title="View Movie">View</a>
                <a href="/editMovie/{{ movie.id }}" type="submit" class="btn btn-outline-info bi bi-pencil fs-5"
                    title="Edit Movie"></a>
                <button type="button" href="#" class="btn btn-danger bi bi-person-slash fs-5" title="Delete Account"
                    data-bs-toggle="modal" data-bs-target="#delete{{ movie.id }}"></button>
            </td>
        </tr>

        <div class="modal fade" id="delete{{ movie.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Delete Movie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Permanently delete the following movie?
                        <br /><br />
                        <span>Movie ID</span>: {{ movie.id }}<br />
                        <span>Title</span> &nbsp;: {{ movie.title }}<br />
                        <span>Start Date</span> &nbsp;: {{ movie.startDate }}<br />
                        <span>End Date</span> &nbsp;: {{ movie.endDate }}<br />
                    </div>
                    <div class="modal-footer">
                        <a href="/deleteMovie/{{ movie.id }}" type="button" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>
{% endblock %}