{% extends "base.html" %}

{% block title %}View Movie{% endblock %}

{% block content %}
<div>
    <a href="/manageMovies" type="submit" class="btn btn-outline-light fs-5" title="Manage Movies">Back</a>
</div>
<div>
    <table class="table table-bordered table-light border-secondary">
        <tbody class="align-middle">
            <tr>
                <td><b>Movie ID</b></td>
                <td>{{ movie_details.id }}</td>
            </tr>
            <tr>
                <td><b>Title</b></td>
                <td>{{ movie_details.title }}</td>
            </tr>
            <tr>
                <td><b>Sypnosis</b></td>
                <td>{{ movie_details.sypnosis }}</td>
            </tr>
            <tr>
                <td><b>Runtime</b></td>
                <td>{{ runtimeHour }}h {{ runtimeMin }}min</td>
            </tr>
            <tr>
                <td><b>Spoken Language</b></td>
                <td>{{ movie_details.spokenLanguage.langName }}</td>
            </tr>
            <tr>
                <td><b>Genres</b></td>
                <td>{{ genreStr }}</td>
            </tr>
            <tr>
                <td><b>Start Date</b></td>
                <td>{{ movie_details.startDate }}</td>
            </tr>
            <tr>
                <td><b>End Date</b></td>
                <td>{{ movie_details.endDate }}</td>
            </tr>
            <tr>
                <td><b>Total Score</b></td>
                <td>{{ movie_details.totalScore }}</td>
            </tr>
            <tr>
                <td><b>Total Ratings Given</b></td>
                <td>{{ movie_details.totalRatingsGiven }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}